body{
    font-family: Roboto, Helvetica, Verdana, 'Trebuchet MS';
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header{
    background: #1f2937;
    color: white;
    display: flex;
    padding-left: 75px;
    padding-right: 75px;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.h-logo{
    display: flex;
    font-size: 24px;
    font-weight: 900;
}

.h-links a{
    text-decoration: none;
    color: white;

}

ul{
    list-style-type: none;
    display: flex;
    gap: 18px;
    padding-left: 0;
}

.first-container{
    background: #1f2937;
    display: flex;
}